/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


button {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Aleo', serif;
}

/* Screen for Laptop */

@media screen and (min-width: 1024px) {

    .header-preview {
        /* min-width: 1440px; */
        background-image: url(../img/images/background-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* HEADER */

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        width: 100%;
        height: 90px;
        background-color: #f2785cb3;
        align-items: center;
        box-shadow: 0px 4px 4px #0d606f80;
    }

    .header-logo {
        display: flex;
    }

    h1 {
        font-family: 'Magra', sans-serif;
        font-weight: 700;
        margin-left: 6px;
        color: #ffffff;
    }

    .items {
        display: flex;
        list-style: none;
    }

    .item {
        margin: 0 12px;
        font-size: 16px;
        font-family: 'Red Hat Text', sans-serif;
        font-weight: 500;
    }

    .header-nav a {
        text-decoration: none;
        color: #ffffff;
    }

    .header-nav a:hover {
        color: #0d606f;
        transition: 0.4s;
    }

    .header-login button {
        cursor: pointer;
        background-color: #0d606f;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        padding: 10px 30px;
    }


    .header-login button:hover {
        background-color: #1398b0;
        transition: 0.4s;
    }

    /* Preview */

    .preview {
        display: flex;
        flex-direction: column;
        height: 675px;
        padding: 0 120px;
    }

    .preview-container {
        margin-top: 32px;
        width: 892px;
    }

    .preview-title {
        color: #ffffff;
        font-weight: 700;
        font-size: 80px;
    }

    .preview-desc {
        font-family: 'Aleo', serif;
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 46px 0;
        color: #ffffff;
    }

    .planning-search {
        display: flex;
        padding: 18px;
        align-items: center;
        height: 95px;
        background-color: #ffffffb3;
        border-radius: 16px;
        width: 100%;
    }

    .planning-search input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        font-family: 'Aleo', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        color: #f2785c;
        height: 100%;
    }

    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #f2785c;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #f2785c;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #f2785c;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #f2785c;
    }

    .planning-search button {
        cursor: pointer;
        background-color: #0d606f;
        border: none;
        border-radius: 10px;
        color: #ffffff;
        height: 59px;
        width: 228px;
        font-size: 24px;
    }

    .planning-search button:hover {
        background-color: #1398b0;
        transition: 0.4s;
    }


    /* Steps */

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .steps-title {
        font-family: 'Red Hat Text', sans-serif;
        color: #f2785c;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .steps-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .step-bike,
    .step-calendar,
    .step-plane {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step-square {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 57px;
        height: 100px;
        width: 100px;
        background-color: #f2785c;
        border-radius: 16px;
    }

    .step-desc {
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 20px;
        color: #0d606f;
    }
}